.card {
  padding: 15px;
  width: 100%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e7eb;
  gap: 40px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card header {
  display: flex;
  gap: 10px;
}

.card a {
  text-decoration: none;
  opacity: 0.4;
  color: #000;
}


.card header h3 {
  margin: 0px;
  font-weight: bold;
  font-size: 15px;
  text-wrap: balance;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 25ch;
}


.card header img {
  width: 120px;
  height: 30px;
  object-fit: contain;
  aspect-ratio: 1;
}

.card ul li span, .card ul li span {
  font-weight: 700;
  font-size: 14px;
}

.card ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0px;
  padding: 0px;
}

.card ul li {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
}

.card footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.rise {
  margin: 0px;
  align-items: center;
  gap: 5px;
  display: flex;
  padding: 0px;
}

.up {
  color: #00b341;
}

.down {
  color: #ff0000;
}

.equal {
  color: #000;
}
